*{
  box-sizing: border-box;
}

body {
font-family: 'Montserrat', sans-serif;
padding: 0px;
margin: 0px;
background: #000000;
font-size: 16px;
}
.main-div {
    color: #ccc;
    width: 50%;
    margin: 0px auto;
    padding: 30px;
}
.loggedin-div{
    display: none;
    color: #ccc;
    margin: 0px auto;
    padding: 30px;
}
.register_div{
  color: #ccc;
  margin: 0px auto;
  padding: 30px;
}
.register_div h3{
  display: block;
  margin: 2px auto;
  padding: 15px;
  text-align: center;
}

.main-div input{
    display: block;
    text-align: center;
    border: 1px solid rgb(10, 161, 56);
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    margin: 10px auto;
    outline: none;
    width: 50%;
}
.main-div button {
    display: block;
    text-align: center;
    background: rgb(14, 150, 55);
    color: #fff;
    border: 0px solid #23b616;
    border-radius: 20px;
    padding: 12px;
    margin: 10px auto;
    width: 30%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.loggedin-div button {
  display: block;
  text-align: center;
  background: rgb(14, 150, 55);
  color: #fff;
  border: 0px solid #23b616;
  border-radius: 20px;
  padding: 12px;
  margin:5px auto;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.main-div button:hover, .loggedin-div button:hover{
    background: rgb(27, 187, 152);
    color: #fff;
}
.main-div h3{
    display: block;
    color: #fff;
    margin: 2px auto;
    padding: 15px;
    text-align: center;
}

.column {
    float: left;
    width: 20%;
    padding: 10px;
    text-align: center;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  } 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;
  }
  
  .navBar li {
    float: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(10, 161, 56);
  }
